<%= form_for([@comment.post, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :author_id %>
  <%= f.hidden_field :post_id %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br>
    <%= @comment.author.full_name %>
  </div>
  <div class="field">
    <%= f.label :post_id %><br>
    <%= @comment.post.title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
