<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
  <% if @author_id %>
    <%= link_to 'All posts', posts_path %>
  <% else %>
    <%= link_to 'My Posts', author_posts_path(current_user.author) %>
  <% end %>
<% end %>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <table>
            <tr>
              <% if @author_id && user_signed_in? && current_user&.author.id == post.author.id %>
                <td><b>Published:</b> <%= post.published %> </td>
              <% end %>
              <td width="100px"><%= post.created_at.strftime("%d-%m-%Y %H:%M") %></td>
              <td width="80%"><b><%= post.title %></b></td>
              <td><i><%= post.author.full_name if post.author %></i></td>
              <td>
                <table>
                  <tr>
                    <td><%= link_to 'Show', post %></td>
                    <% if user_signed_in? %>
                      <% if current_user.id == post&.author&.user&.id %>
                        <td><%= link_to 'Edit', edit_post_path(post) %></td>
                        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      <% end %>
                    <% end %>
                  </tr>
                </table>
              </td>
            </tr>
            <tr><td colspan=3><%= post.content %></td></tr>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts %>

<br>

