<p id="notice"><%= notice %></p>

<div class="panel">
<p>
  <b>Created at:</b>
  <%= @post.created_at.strftime("%d-%m-%Y %H:%M") %>

<% if user_signed_in? && current_user&.author.id == @post.author.id %>
  <p><b>Published:</b> <%= @post.published %> </p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @post.tags_list %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author.full_name if @post.author%>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
</div>


<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary btn-small" %> |
<%= link_to 'Back', posts_path, class: "btn btn-small" %>

<hr>
<p><b>Comments:</b>
  <% if user_signed_in? %>
    <%= link_to 'New Comment', new_post_comment_path(@post), class: "btn btn-primary btn-small" %>
  <% end %>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Created at</th>
      <th>Author</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @post.comments.each do |c| %>
      <tr>
        <td><%= c.created_at.strftime("%d-%m-%Y %H:%M") %></td>
        <td><%= c.author.full_name %></td>
        <% if user_signed_in? && current_user&.author.id == c.author.id && c.fresh %>
          <td> <%= link_to 'Edit', edit_post_comment_path(@post,c), class: "btn btn-primary btn-small" %></td>
          <td> <%= link_to 'Destroy', [@post,c], confirm: 'Are you sure?', method: :delete, class: "btn btn-danger btn-small" %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= c.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

